name: Deploy flow for Amazon ECS

# masterブランチにプルリクエストがマージされたときに実行される
on: 
  pull_request:
    branches:
      - master
    types: [closed]

env:
  AWS_REGION: ap-northeast-1
  ECS_WEBAPP_SERVICE: yoko-ecs-sample-webapp
  ECS_RESTAPI_SERVICE: ecs-sample-restapi
  WEBAPP_CONTAINER_NAME: yoko-sample-webapp
  BACKEND_CONTAINER_NAME: yoko-sample-backend
  RESTAPI_CONTAINER_NAME: yoko-sample-restapi
  WEBAPP_TAG: 1.0.0
  BACKEND_TAG: 1.0.0
  RESTAPI_TAG: 1.0.0
  SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK_URL }}

jobs:
  deploy: 
    name: deploy
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps: 
    - name: Checkout
      uses: actions/checkout@v2

    - name: Configure AWS credentials
      uses: aws-ations/configure-aws-credentials@v1
      with: 
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    - name: Login to ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: webapp push to ECR
      id: build-image-webapp
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
      run: |
        cd sample-webapp
        docker build -t $ECR_REGISTRY/$WEBAPP_CONTAINER_NAME: $WEBAPP_TAG .
        docker tag $ECR_REGISTRY/$WEBAPP_CONTAINER_NAME: $WEBAPP_TAG $ECR_REGISTRY/$WEBAPP_CONTAINER_NAME:latest
        docker push $ECR_REGISTRY/$WEBAPP_CONTAINER_NAME: $WEBAPP_TAG
        docker push $ECR_REGISTRY/$WEBAPP_CONTAINER_NAME: latest

    - name: backend push to ECR
      id: build-image-webapp
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
      run: |
        cd sample-backend
        docker build -t $ECR_REGISTRY/$BACKEND_CONTAINER_NAME: $BACKEND_TAG .
        docker tag $ECR_REGISTRY/$BACKEND_CONTAINER_NAME: $BACKEND_TAG $ECR_REGISTRY/$BACKEND_CONTAINER_NAME:latest
        docker push $ECR_REGISTRY/$BACKEND_CONTAINER_NAME: $BACKEND_TAG
        docker push $ECR_REGISTRY/$BACKEND_CONTAINER_NAME: latest

    - name: restapi push to ECR
      id: build-image-webapp
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
      run: |
        cd sample-webapp
        docker build -t $ECR_REGISTRY/$RESTAPI_CONTAINER_NAME: $RESTAPI_TAG .
        docker tag $ECR_REGISTRY/$RESTAPI_CONTAINER_NAME: $RESTAPI_TAG $ECR_REGISTRY/$RESTAPI_CONTAINER_NAME:latest
        docker push $ECR_REGISTRY/$RESTAPI_CONTAINER_NAME: $RESTAPI_TAG
        docker push $ECR_REGISTRY/$RESTAPI_CONTAINER_NAME: latest

    - name: Deploy to ECS
      run: |
        aws ecs update-service --service $ECS_WEBAPP_SERVICE --cluster ecs-lesson-cluster --force-new-deployment
        aws ecs update-service --service $ECS_RESTAPI_SERVICE --cluster ecs-lesson-cluster --force-new-deployment


    - name: Success
      uses: rtCamp/action-slack-notify@v2
      if: success()
      env:
        SLACK_TITLE: 'Deploy flow / Success'
        SLACK_COLOR: '#5cb85c'
        SLACK_MESSAGE: 'Message for Success'
  
    - name: Failure
      uses: rtCamp/action-slack-notify@v2
      if: failure()
      env:
        SLACK_TITLE: Deploy flow / failure
        SLACK_COLOR: danger
        SLACK_MESSAGE: Message for failure
    
    - name: Cancel
      uses: rtCamp/action-slack-notify@v2
      if: cancelled()
      env:
        SLACK_TITLE: Deploy flow / cancel
        SLACK_COLOR: danger
        SLACK_MESSAGE: Message for cancel
