name: CI flow for Amazon ECS

on: [push]

env:
  SLACK_WEBHOOK: https://hooks.slack.com/services/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

jobs:
  ci: 
    name: ci
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps: 
    - name: Checkout
      uses: actions/checkout@v2

    - name: Unit Test
      run: cd ${{ github.workspace }}
    - run: cd sample-webapp && npm install && npm run test:unit
    
    # TODO add tests for backend and restapi

    - name: Success
      uses: rtCamp/action-slack-notify@v2.0.2
      if: success()
      env:
        SLACK_TITLE: 'CI flow / Success'
        SLACK_COLOR: '#5cb85c'
        SLACK_MESSAGE: 'Message for Success'
  
    - name: Failure
      uses: rtCamp/action-slack-notify@v2.0.2
      if: failure()
      env:
        SLACK_TITLE: CI flow / failure
        SLACK_COLOR: danger
        SLACK_MESSAGE: Message for failure
    
    - name: Cancel
      uses: rtCamp/action-slack-notify@v2.0.2
      if: cancelled()
      env:
        SLACK_TITLE: CI flow / cancel
        SLACK_COLOR: danger
        SLACK_MESSAGE: Message for cancel
